
.cy-col {
    position: relative;
    display: block
}

.cy-col-span-1,.cy-col-span-2,.cy-col-span-3,.cy-col-span-4,.cy-col-span-5,.cy-col-span-6,.cy-col-span-7,.cy-col-span-8,.cy-col-span-9,.cy-col-span-10,.cy-col-span-11,.cy-col-span-12,.cy-col-span-13,.cy-col-span-14,.cy-col-span-15,.cy-col-span-16,.cy-col-span-17,.cy-col-span-18,.cy-col-span-19,.cy-col-span-20,.cy-col-span-21,.cy-col-span-22,.cy-col-span-23,.cy-col-span-24 {
    float: left;
    flex: 0 0 auto
}

.cy-col-span-24 {
    display: block;
    width: 100%
}

.cy-col-push-24 {
    left: 100%
}

.cy-col-pull-24 {
    right: 100%
}

.cy-col-offset-24 {
    margin-left: 100%
}

.cy-col-order-24 {
    order: 24
}

.cy-col-span-23 {
    display: block;
    width: 95.83333333%
}

.cy-col-push-23 {
    left: 95.83333333%
}

.cy-col-pull-23 {
    right: 95.83333333%
}

.cy-col-offset-23 {
    margin-left: 95.83333333%
}

.cy-col-order-23 {
    order: 23
}

.cy-col-span-22 {
    display: block;
    width: 91.66666667%
}

.cy-col-push-22 {
    left: 91.66666667%
}

.cy-col-pull-22 {
    right: 91.66666667%
}

.cy-col-offset-22 {
    margin-left: 91.66666667%
}

.cy-col-order-22 {
    order: 22
}

.cy-col-span-21 {
    display: block;
    width: 87.5%
}

.cy-col-push-21 {
    left: 87.5%
}

.cy-col-pull-21 {
    right: 87.5%
}

.cy-col-offset-21 {
    margin-left: 87.5%
}

.cy-col-order-21 {
    order: 21
}

.cy-col-span-20 {
    display: block;
    width: 83.33333333%
}

.cy-col-push-20 {
    left: 83.33333333%
}

.cy-col-pull-20 {
    right: 83.33333333%
}

.cy-col-offset-20 {
    margin-left: 83.33333333%
}

.cy-col-order-20 {
    order: 20
}

.cy-col-span-19 {
    display: block;
    width: 79.16666667%
}

.cy-col-push-19 {
    left: 79.16666667%
}

.cy-col-pull-19 {
    right: 79.16666667%
}

.cy-col-offset-19 {
    margin-left: 79.16666667%
}

.cy-col-order-19 {
    order: 19
}

.cy-col-span-18 {
    display: block;
    width: 75%
}

.cy-col-push-18 {
    left: 75%
}

.cy-col-pull-18 {
    right: 75%
}

.cy-col-offset-18 {
    margin-left: 75%
}

.cy-col-order-18 {
    order: 18
}

.cy-col-span-17 {
    display: block;
    width: 70.83333333%
}

.cy-col-push-17 {
    left: 70.83333333%
}

.cy-col-pull-17 {
    right: 70.83333333%
}

.cy-col-offset-17 {
    margin-left: 70.83333333%
}

.cy-col-order-17 {
    order: 17
}

.cy-col-span-16 {
    display: block;
    width: 66.66666667%
}

.cy-col-push-16 {
    left: 66.66666667%
}

.cy-col-pull-16 {
    right: 66.66666667%
}

.cy-col-offset-16 {
    margin-left: 66.66666667%
}

.cy-col-order-16 {
    order: 16
}

.cy-col-span-15 {
    display: block;
    width: 62.5%
}

.cy-col-push-15 {
    left: 62.5%
}

.cy-col-pull-15 {
    right: 62.5%
}

.cy-col-offset-15 {
    margin-left: 62.5%
}

.cy-col-order-15 {
    order: 15
}

.cy-col-span-14 {
    display: block;
    width: 58.33333333%
}

.cy-col-push-14 {
    left: 58.33333333%
}

.cy-col-pull-14 {
    right: 58.33333333%
}

.cy-col-offset-14 {
    margin-left: 58.33333333%
}

.cy-col-order-14 {
    order: 14
}

.cy-col-span-13 {
    display: block;
    width: 54.16666667%
}

.cy-col-push-13 {
    left: 54.16666667%
}

.cy-col-pull-13 {
    right: 54.16666667%
}

.cy-col-offset-13 {
    margin-left: 54.16666667%
}

.cy-col-order-13 {
    order: 13
}

.cy-col-span-12 {
    display: block;
    width: 50%
}

.cy-col-push-12 {
    left: 50%
}

.cy-col-pull-12 {
    right: 50%
}

.cy-col-offset-12 {
    margin-left: 50%
}

.cy-col-order-12 {
    order: 12
}

.cy-col-span-11 {
    display: block;
    width: 45.83333333%
}

.cy-col-push-11 {
    left: 45.83333333%
}

.cy-col-pull-11 {
    right: 45.83333333%
}

.cy-col-offset-11 {
    margin-left: 45.83333333%
}

.cy-col-order-11 {
    order: 11
}

.cy-col-span-10 {
    display: block;
    width: 41.66666667%
}

.cy-col-push-10 {
    left: 41.66666667%
}

.cy-col-pull-10 {
    right: 41.66666667%
}

.cy-col-offset-10 {
    margin-left: 41.66666667%
}

.cy-col-order-10 {
    order: 10
}

.cy-col-span-9 {
    display: block;
    width: 37.5%
}

.cy-col-push-9 {
    left: 37.5%
}

.cy-col-pull-9 {
    right: 37.5%
}

.cy-col-offset-9 {
    margin-left: 37.5%
}

.cy-col-order-9 {
    order: 9
}

.cy-col-span-8 {
    display: block;
    width: 33.33333333%
}

.cy-col-push-8 {
    left: 33.33333333%
}

.cy-col-pull-8 {
    right: 33.33333333%
}

.cy-col-offset-8 {
    margin-left: 33.33333333%
}

.cy-col-order-8 {
    order: 8
}

.cy-col-span-7 {
    display: block;
    width: 29.16666667%
}

.cy-col-push-7 {
    left: 29.16666667%
}

.cy-col-pull-7 {
    right: 29.16666667%
}

.cy-col-offset-7 {
    margin-left: 29.16666667%
}

.cy-col-order-7 {
    order: 7
}

.cy-col-span-6 {
    display: block;
    width: 25%
}

.cy-col-push-6 {
    left: 25%
}

.cy-col-pull-6 {
    right: 25%
}

.cy-col-offset-6 {
    margin-left: 25%
}

.cy-col-order-6 {
    order: 6
}

.cy-col-span-5 {
    display: block;
    width: 20.83333333%
}

.cy-col-push-5 {
    left: 20.83333333%
}

.cy-col-pull-5 {
    right: 20.83333333%
}

.cy-col-offset-5 {
    margin-left: 20.83333333%
}

.cy-col-order-5 {
    order: 5
}

.cy-col-span-4 {
    display: block;
    width: 16.66666667%
}

.cy-col-push-4 {
    left: 16.66666667%
}

.cy-col-pull-4 {
    right: 16.66666667%
}

.cy-col-offset-4 {
    margin-left: 16.66666667%
}

.cy-col-order-4 {
    order: 4
}

.cy-col-span-3 {
    display: block;
    width: 12.5%
}

.cy-col-push-3 {
    left: 12.5%
}

.cy-col-pull-3 {
    right: 12.5%
}

.cy-col-offset-3 {
    margin-left: 12.5%
}

.cy-col-order-3 {
    order: 3
}

.cy-col-span-2 {
    display: block;
    width: 8.33333333%
}

.cy-col-push-2 {
    left: 8.33333333%
}

.cy-col-pull-2 {
    right: 8.33333333%
}

.cy-col-offset-2 {
    margin-left: 8.33333333%
}

.cy-col-order-2 {
    order: 2
}

.cy-col-span-1 {
    display: block;
    width: 4.16666667%
}

.cy-col-push-1 {
    left: 4.16666667%
}

.cy-col-pull-1 {
    right: 4.16666667%
}

.cy-col-offset-1 {
    margin-left: 4.16666667%
}

.cy-col-order-1 {
    order: 1
}

.cy-col-span-0 {
    display: none
}

.cy-col-push-0 {
    left: auto
}

.cy-col-pull-0 {
    right: auto
}

.cy-col-span-xs-1,.cy-col-span-xs-2,.cy-col-span-xs-3,.cy-col-span-xs-4,.cy-col-span-xs-5,.cy-col-span-xs-6,.cy-col-span-xs-7,.cy-col-span-xs-8,.cy-col-span-xs-9,.cy-col-span-xs-10,.cy-col-span-xs-11,.cy-col-span-xs-12,.cy-col-span-xs-13,.cy-col-span-xs-14,.cy-col-span-xs-15,.cy-col-span-xs-16,.cy-col-span-xs-17,.cy-col-span-xs-18,.cy-col-span-xs-19,.cy-col-span-xs-20,.cy-col-span-xs-21,.cy-col-span-xs-22,.cy-col-span-xs-23,.cy-col-span-xs-24 {
    float: left;
    flex: 0 0 auto
}

.cy-col-span-xs-24 {
    display: block;
    width: 100%
}

.cy-col-xs-push-24 {
    left: 100%
}

.cy-col-xs-pull-24 {
    right: 100%
}

.cy-col-xs-offset-24 {
    margin-left: 100%
}

.cy-col-xs-order-24 {
    order: 24
}

.cy-col-span-xs-23 {
    display: block;
    width: 95.83333333%
}

.cy-col-xs-push-23 {
    left: 95.83333333%
}

.cy-col-xs-pull-23 {
    right: 95.83333333%
}

.cy-col-xs-offset-23 {
    margin-left: 95.83333333%
}

.cy-col-xs-order-23 {
    order: 23
}

.cy-col-span-xs-22 {
    display: block;
    width: 91.66666667%
}

.cy-col-xs-push-22 {
    left: 91.66666667%
}

.cy-col-xs-pull-22 {
    right: 91.66666667%
}

.cy-col-xs-offset-22 {
    margin-left: 91.66666667%
}

.cy-col-xs-order-22 {
    order: 22
}

.cy-col-span-xs-21 {
    display: block;
    width: 87.5%
}

.cy-col-xs-push-21 {
    left: 87.5%
}

.cy-col-xs-pull-21 {
    right: 87.5%
}

.cy-col-xs-offset-21 {
    margin-left: 87.5%
}

.cy-col-xs-order-21 {
    order: 21
}

.cy-col-span-xs-20 {
    display: block;
    width: 83.33333333%
}

.cy-col-xs-push-20 {
    left: 83.33333333%
}

.cy-col-xs-pull-20 {
    right: 83.33333333%
}

.cy-col-xs-offset-20 {
    margin-left: 83.33333333%
}

.cy-col-xs-order-20 {
    order: 20
}

.cy-col-span-xs-19 {
    display: block;
    width: 79.16666667%
}

.cy-col-xs-push-19 {
    left: 79.16666667%
}

.cy-col-xs-pull-19 {
    right: 79.16666667%
}

.cy-col-xs-offset-19 {
    margin-left: 79.16666667%
}

.cy-col-xs-order-19 {
    order: 19
}

.cy-col-span-xs-18 {
    display: block;
    width: 75%
}

.cy-col-xs-push-18 {
    left: 75%
}

.cy-col-xs-pull-18 {
    right: 75%
}

.cy-col-xs-offset-18 {
    margin-left: 75%
}

.cy-col-xs-order-18 {
    order: 18
}

.cy-col-span-xs-17 {
    display: block;
    width: 70.83333333%
}

.cy-col-xs-push-17 {
    left: 70.83333333%
}

.cy-col-xs-pull-17 {
    right: 70.83333333%
}

.cy-col-xs-offset-17 {
    margin-left: 70.83333333%
}

.cy-col-xs-order-17 {
    order: 17
}

.cy-col-span-xs-16 {
    display: block;
    width: 66.66666667%
}

.cy-col-xs-push-16 {
    left: 66.66666667%
}

.cy-col-xs-pull-16 {
    right: 66.66666667%
}

.cy-col-xs-offset-16 {
    margin-left: 66.66666667%
}

.cy-col-xs-order-16 {
    order: 16
}

.cy-col-span-xs-15 {
    display: block;
    width: 62.5%
}

.cy-col-xs-push-15 {
    left: 62.5%
}

.cy-col-xs-pull-15 {
    right: 62.5%
}

.cy-col-xs-offset-15 {
    margin-left: 62.5%
}

.cy-col-xs-order-15 {
    order: 15
}

.cy-col-span-xs-14 {
    display: block;
    width: 58.33333333%
}

.cy-col-xs-push-14 {
    left: 58.33333333%
}

.cy-col-xs-pull-14 {
    right: 58.33333333%
}

.cy-col-xs-offset-14 {
    margin-left: 58.33333333%
}

.cy-col-xs-order-14 {
    order: 14
}

.cy-col-span-xs-13 {
    display: block;
    width: 54.16666667%
}

.cy-col-xs-push-13 {
    left: 54.16666667%
}

.cy-col-xs-pull-13 {
    right: 54.16666667%
}

.cy-col-xs-offset-13 {
    margin-left: 54.16666667%
}

.cy-col-xs-order-13 {
    order: 13
}

.cy-col-span-xs-12 {
    display: block;
    width: 50%
}

.cy-col-xs-push-12 {
    left: 50%
}

.cy-col-xs-pull-12 {
    right: 50%
}

.cy-col-xs-offset-12 {
    margin-left: 50%
}

.cy-col-xs-order-12 {
    order: 12
}

.cy-col-span-xs-11 {
    display: block;
    width: 45.83333333%
}

.cy-col-xs-push-11 {
    left: 45.83333333%
}

.cy-col-xs-pull-11 {
    right: 45.83333333%
}

.cy-col-xs-offset-11 {
    margin-left: 45.83333333%
}

.cy-col-xs-order-11 {
    order: 11
}

.cy-col-span-xs-10 {
    display: block;
    width: 41.66666667%
}

.cy-col-xs-push-10 {
    left: 41.66666667%
}

.cy-col-xs-pull-10 {
    right: 41.66666667%
}

.cy-col-xs-offset-10 {
    margin-left: 41.66666667%
}

.cy-col-xs-order-10 {
    order: 10
}

.cy-col-span-xs-9 {
    display: block;
    width: 37.5%
}

.cy-col-xs-push-9 {
    left: 37.5%
}

.cy-col-xs-pull-9 {
    right: 37.5%
}

.cy-col-xs-offset-9 {
    margin-left: 37.5%
}

.cy-col-xs-order-9 {
    order: 9
}

.cy-col-span-xs-8 {
    display: block;
    width: 33.33333333%
}

.cy-col-xs-push-8 {
    left: 33.33333333%
}

.cy-col-xs-pull-8 {
    right: 33.33333333%
}

.cy-col-xs-offset-8 {
    margin-left: 33.33333333%
}

.cy-col-xs-order-8 {
    order: 8
}

.cy-col-span-xs-7 {
    display: block;
    width: 29.16666667%
}

.cy-col-xs-push-7 {
    left: 29.16666667%
}

.cy-col-xs-pull-7 {
    right: 29.16666667%
}

.cy-col-xs-offset-7 {
    margin-left: 29.16666667%
}

.cy-col-xs-order-7 {
    order: 7
}

.cy-col-span-xs-6 {
    display: block;
    width: 25%
}

.cy-col-xs-push-6 {
    left: 25%
}

.cy-col-xs-pull-6 {
    right: 25%
}

.cy-col-xs-offset-6 {
    margin-left: 25%
}

.cy-col-xs-order-6 {
    order: 6
}

.cy-col-span-xs-5 {
    display: block;
    width: 20.83333333%
}

.cy-col-xs-push-5 {
    left: 20.83333333%
}

.cy-col-xs-pull-5 {
    right: 20.83333333%
}

.cy-col-xs-offset-5 {
    margin-left: 20.83333333%
}

.cy-col-xs-order-5 {
    order: 5
}

.cy-col-span-xs-4 {
    display: block;
    width: 16.66666667%
}

.cy-col-xs-push-4 {
    left: 16.66666667%
}

.cy-col-xs-pull-4 {
    right: 16.66666667%
}

.cy-col-xs-offset-4 {
    margin-left: 16.66666667%
}

.cy-col-xs-order-4 {
    order: 4
}

.cy-col-span-xs-3 {
    display: block;
    width: 12.5%
}

.cy-col-xs-push-3 {
    left: 12.5%
}

.cy-col-xs-pull-3 {
    right: 12.5%
}

.cy-col-xs-offset-3 {
    margin-left: 12.5%
}

.cy-col-xs-order-3 {
    order: 3
}

.cy-col-span-xs-2 {
    display: block;
    width: 8.33333333%
}

.cy-col-xs-push-2 {
    left: 8.33333333%
}

.cy-col-xs-pull-2 {
    right: 8.33333333%
}

.cy-col-xs-offset-2 {
    margin-left: 8.33333333%
}

.cy-col-xs-order-2 {
    order: 2
}

.cy-col-span-xs-1 {
    display: block;
    width: 4.16666667%
}

.cy-col-xs-push-1 {
    left: 4.16666667%
}

.cy-col-xs-pull-1 {
    right: 4.16666667%
}

.cy-col-xs-offset-1 {
    margin-left: 4.16666667%
}

.cy-col-xs-order-1 {
    order: 1
}

.cy-col-span-xs-0 {
    display: none
}

.cy-col-xs-push-0 {
    left: auto
}

.cy-col-xs-pull-0 {
    right: auto
}